 
 /* ***********************header-start***************** */
.header{
    /* border:1px solid red; */
    height:60px;
    display: flex;
    gap:37%;
    margin-top: 2%;
    padding-left: 4%;
}
.header>:nth-child(2)>a>img{
    width:33%;
    border-radius: 15%;
}
 /* ***********************header-end***************** */
 .formdiv{
    margin-top: -5%;
 }

 .maindiv{
    /* border:1px solid red; */
    height:auto;
    margin-top: 5%;
    display:flex;
    margin-bottom: 5%;
 }
 .maindiv>div{
    /* border:1px solid blue; */
   width:100%;
    gap:5%
 }
 .mydiv{
    /* border:1px solid black; */
 
    height:auto;
    width:80%;
    margin:auto;
    margin-top: 18%;
    
 }
 .mydiv>h2{
    font-weight: bolder;
    font-size: 22px;
    color:rgb(119, 110, 110)
 }
 .icondiv{
    /* border:1px solid teal; */
    margin:auto;
    height:30%;
    margin-top: 3%;
    display:flex;
 
 }
 .icondiv>div{
    /* border:1px solid orange; */
    width:33.3%;
  
    text-align: center;
 }
 .icondiv>div>img{
    width:70%;
    margin: auto;
 }
 .quotes{
    /* border:1px solid black; */
    margin: auto;
    margin-top: 3%;
    display: flex;
    height: auto;
    flex-direction: column;
    margin-bottom: 2%;
   
 }

 .quotes>div{
    /* border:1px solid red; */
      margin: auto;
      width:80%;
      margin-top: 4%;

 }

 .quotes>div>h1{
    font-size: 20px;
    font-weight: bolder;
    color:rgb(119, 110, 110)

 }
/* ******************************* */
 .buttn{
    position: relative;
    height: 64px;
    padding: 0 50px 0 50px;
    margin-bottom: 10px;
    width: 100%;
    box-shadow: none;
    -webkit-appearance: none;
    outline: none;
    border-radius: 16px;
    border: solid 2px #f2f1f2;
    background: white;
    background-color: #fff;
    color: #7b7b91;
    font-weight: 500;
    font-size: 18px;
   display:flex;
   
   justify-content: space-between;
   padding-top: 3%;

 }
 .buttn:hover{
   background: rgb(232, 239, 241);
 }
 .copyright{
    text-align: left;
    margin-top: -8%;
    margin-left: 2%;
 }


